* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color:rgb(173, 130, 49);
    background: cover;
    
}
.main{
    background-color: white;
    border-radius: 0px;
    width: 350px;
    height: 350px;
    padding: 10px 20px 30px;
    text-align: center;
    background-position: center;
    margin: 3%auto;
    margin-left: 350px;
}
.login{
    padding-top: 30px;
}
.form-control{
    width: 80%;
    padding: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
    height: 16px;
    margin-top: 10px;
}
.forgot{
    padding: 25px;
}

.btn button{
 background-color: #9cf;
 font-size: 20px;
color:rgb(44, 43, 43);
margin-top: -10px;
padding: 15px 25px;
border: 1px ;
box-shadow: 2px;
cursor: pointer;
 
}
.icon{
    size: 10px;
    border-bottom: 1px solid;
    padding-bottom: 12px;
}
.image{
    position: absolute;
    bottom: 40px;
    left: 350px;
    z-index: 99;
    float: left;padding: 0px 10px 0px;
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 350px;
    width: 350px;
    top: 151px;
}

